<div class="auth-page">
  <div class="container page">
    <div class="row">

      <div class="col-md-6 col-md-offset-3 col-xs-12">
        <h1 class="text-xs-center">Sign in</h1>

        <form #loginForm="ngForm">
          <fieldset class="form-group" [ngClass]="{'has-danger': email.dirty && email.invalid}">
            <input name="email" class="form-control form-control-lg" type="text" placeholder="Email" [(ngModel)]="loginData.email" required
              email #email="ngModel">
            <span *ngIf="email.dirty && email.invalid">
              {{ email.errors | json }}
              <span *ngIf="email.errors['require']">
                * 請輸入Email
              </span>
              <span *ngIf="email.errors['email']">
                * Email 格式不正確
              </span>
            </span>
            {{ email.value }}
          </fieldset>
          <!-- {{ email.value }} -->
          <fieldset class="form-group" [ngClass]="{'has-danger': password.dirty && password.invalid}">
            <input name="password" class="form-control form-control-lg" type="password" placeholder="Password" [(ngModel)]="loginData.password"
              minlength="4" required #password="ngModel">
            <span *ngIf="password.dirty && password.invalid">
              <span *ngIf="password.errors['require']">
                * 請輸入密碼
              </span>
              <span *ngIf="password.errors['minlength']">
                * 密碼長度必須大於等於 4
              </span>
              {{ password.errors | json }}
            </span>
          </fieldset>
          <button class="btn btn-lg btn-primary pull-xs-right" (click)="doLogin()" [disabled]="loginForm.invalid">
            Sign in
          </button>
        </form>
      </div>

    </div>
  </div>
</div>
